<div class='banner'>
  <h1 class='banner-text'>(ʘᗩʘ')</h1>
</div>
<div class='text-header'>
  <h1><span data-shadow-text='DoodleWhim Designs'>DoodleWhim Designs</span></h1>
</div>
<div class='container items'>
  <div class='item-box'>
    <div class='item'>
      <p><em>Kayla's new thing!<em></p>
    </div>
  </div>
  <div class='item-box'>
    <div class='item'>
      <p><em>Kayla's new thing!<em></p>
    </div>
  </div>
  <div class='item-box'>
    <div class='item'>
      <p><em>Kayla's new thing!<em></p>
    </div>
  </div>
  <div class='item-box'>
    <div class='item'>
      <p><em>Kayla's new thing!<em></p>
    </div>
  </div>
</div>